HoRSJavaSeClient/xml-resources/web-service-references/PartnerWebService/wsdl/localhost_8080/PartnerWebService/PartnerWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.session.ejb/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.session.ejb/">

<xs:element name="calculateTotalAmountForStay" type="tns:calculateTotalAmountForStay"/>

<xs:element name="calculateTotalAmountForStayResponse" type="tns:calculateTotalAmountForStayResponse"/>

<xs:element name="findGuestByEmail" type="tns:findGuestByEmail"/>

<xs:element name="findGuestByEmailResponse" type="tns:findGuestByEmailResponse"/>

<xs:element name="partnerLogIn" type="tns:partnerLogIn"/>

<xs:element name="partnerLogInResponse" type="tns:partnerLogInResponse"/>

<xs:element name="reserveRoom" type="tns:reserveRoom"/>

<xs:element name="reserveRoomResponse" type="tns:reserveRoomResponse"/>

<xs:element name="searchAvailableRoom" type="tns:searchAvailableRoom"/>

<xs:element name="searchAvailableRoomResponse" type="tns:searchAvailableRoomResponse"/>

<xs:element name="viewAllReservations" type="tns:viewAllReservations"/>

<xs:element name="viewAllReservationsResponse" type="tns:viewAllReservationsResponse"/>

<xs:element name="viewReservation" type="tns:viewReservation"/>

<xs:element name="viewReservationResponse" type="tns:viewReservationResponse"/>

<xs:complexType name="findGuestByEmail">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findGuestByEmailResponse">
<xs:sequence>
<xs:element name="return" type="tns:guest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="guest">
<xs:complexContent>
<xs:extension base="tns:visitor">
<xs:sequence>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="guestID" type="xs:long" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="passportNumber" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="phoneNumber" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="visitor">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="reservation">
<xs:sequence>
<xs:element name="checkInDate" type="tns:localDate" minOccurs="0"/>
<xs:element name="checkOutDate" type="tns:localDate" minOccurs="0"/>
<xs:element name="guest" type="tns:guest" minOccurs="0"/>
<xs:element name="numberOfRooms" type="xs:int"/>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
<xs:element name="reservationDate" type="tns:localDate" minOccurs="0"/>
<xs:element name="reservationID" type="xs:long" minOccurs="0"/>
<xs:element name="reservationType" type="tns:reservationTypeEnum" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="totalAmount" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="localDate" final="extension restriction">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="partner">
<xs:sequence>
<xs:element name="partnerID" type="xs:long" minOccurs="0"/>
<xs:element name="partnerName" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomType">
<xs:sequence>
<xs:element name="amenities" type="xs:string" minOccurs="0"/>
<xs:element name="bed" type="xs:string" minOccurs="0"/>
<xs:element name="capacity" type="xs:long" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="inventory" type="xs:long" minOccurs="0"/>
<xs:element name="reservations" type="tns:reservation" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomRates" type="tns:roomRate" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="roomTypeID" type="xs:long" minOccurs="0"/>
<xs:element name="roomTypeStatus" type="tns:roomTypeStatusEnum" minOccurs="0"/>
<xs:element name="rooms" type="tns:room" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="size" type="xs:decimal" minOccurs="0"/>
<xs:element name="tierNumber" type="xs:int" minOccurs="0"/>
<xs:element name="typeName" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="roomRate">
<xs:sequence>
<xs:element name="endDate" type="tns:localDate" minOccurs="0"/>
<xs:element name="isDisabled" type="xs:boolean"/>
<xs:element name="nightlyRateAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="rateType" type="tns:roomRateTypeEnum" minOccurs="0"/>
<xs:element name="roomRateID" type="xs:long" minOccurs="0"/>
<xs:element name="roomRateName" type="xs:string" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="startDate" type="tns:localDate" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="room">
<xs:sequence>
<xs:element name="roomID" type="xs:long" minOccurs="0"/>
<xs:element name="roomNumber" type="xs:string" minOccurs="0"/>
<xs:element name="roomStatus" type="tns:roomStatusEnum" minOccurs="0"/>
<xs:element name="roomType" type="tns:roomType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllReservations">
<xs:sequence>
<xs:element name="partnerId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewAllReservationsResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchAvailableRoom">
<xs:sequence>
<xs:element name="checkInDate" type="xs:string" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:string" minOccurs="0"/>
<xs:element name="requiredRooms" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="searchAvailableRoomResponse">
<xs:sequence>
<xs:element name="return" type="tns:roomType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewReservation">
<xs:sequence>
<xs:element name="reservationId" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="viewReservationResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservation" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveRoom">
<xs:sequence>
<xs:element name="bookingDate" type="xs:string" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:string" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:string" minOccurs="0"/>
<xs:element name="totalAmount" type="xs:decimal" minOccurs="0"/>
<xs:element name="requiredRooms" type="xs:int"/>
<xs:element name="guest" type="tns:guest" minOccurs="0"/>
<xs:element name="selectedRoomType" type="tns:roomType" minOccurs="0"/>
<xs:element name="partner" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reserveRoomResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="partnerLogIn">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="partnerLogInResponse">
<xs:sequence>
<xs:element name="return" type="tns:partner" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateTotalAmountForStay">
<xs:sequence>
<xs:element name="roomTypeName" type="xs:string" minOccurs="0"/>
<xs:element name="checkInDate" type="xs:string" minOccurs="0"/>
<xs:element name="checkOutDate" type="xs:string" minOccurs="0"/>
<xs:element name="requiredRooms" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calculateTotalAmountForStayResponse">
<xs:sequence>
<xs:element name="return" type="xs:decimal" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="reservationTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="WALKIN"/>
<xs:enumeration value="ONLINE"/>
<xs:enumeration value="PARTNER"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roomRateTypeEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="PUBLISHED"/>
<xs:enumeration value="NORMAL"/>
<xs:enumeration value="PEAK"/>
<xs:enumeration value="PROMOTION"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roomTypeStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="DISABLED"/>
<xs:enumeration value="ENABLED"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="roomStatusEnum">
<xs:restriction base="xs:string">
<xs:enumeration value="AVAILABLE"/>
<xs:enumeration value="UNAVAILABLE"/>
<xs:enumeration value="DISABLED"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>