HoRSJavaSeClient/src/META-INF/wsdl/localhost_8080/PartnerWebService/PartnerWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="PartnerWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/PartnerWebService/PartnerWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="reserveRoom">
<part name="parameters" element="tns:reserveRoom"/>
</message>
<message name="reserveRoomResponse">
<part name="parameters" element="tns:reserveRoomResponse"/>
</message>
<message name="partnerLogIn">
<part name="parameters" element="tns:partnerLogIn"/>
</message>
<message name="partnerLogInResponse">
<part name="parameters" element="tns:partnerLogInResponse"/>
</message>
<message name="viewAllReservations">
<part name="parameters" element="tns:viewAllReservations"/>
</message>
<message name="viewAllReservationsResponse">
<part name="parameters" element="tns:viewAllReservationsResponse"/>
</message>
<message name="searchAvailableRoom">
<part name="parameters" element="tns:searchAvailableRoom"/>
</message>
<message name="searchAvailableRoomResponse">
<part name="parameters" element="tns:searchAvailableRoomResponse"/>
</message>
<message name="viewReservation">
<part name="parameters" element="tns:viewReservation"/>
</message>
<message name="viewReservationResponse">
<part name="parameters" element="tns:viewReservationResponse"/>
</message>
<message name="findGuestByEmail">
<part name="parameters" element="tns:findGuestByEmail"/>
</message>
<message name="findGuestByEmailResponse">
<part name="parameters" element="tns:findGuestByEmailResponse"/>
</message>
<message name="calculateTotalAmountForStay">
<part name="parameters" element="tns:calculateTotalAmountForStay"/>
</message>
<message name="calculateTotalAmountForStayResponse">
<part name="parameters" element="tns:calculateTotalAmountForStayResponse"/>
</message>
<portType name="PartnerWebService">
<operation name="reserveRoom">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRoomRequest" message="tns:reserveRoom"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/reserveRoomResponse" message="tns:reserveRoomResponse"/>
</operation>
<operation name="partnerLogIn">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogInRequest" message="tns:partnerLogIn"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/partnerLogInResponse" message="tns:partnerLogInResponse"/>
</operation>
<operation name="viewAllReservations">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllReservationsRequest" message="tns:viewAllReservations"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/viewAllReservationsResponse" message="tns:viewAllReservationsResponse"/>
</operation>
<operation name="searchAvailableRoom">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/searchAvailableRoomRequest" message="tns:searchAvailableRoom"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/searchAvailableRoomResponse" message="tns:searchAvailableRoomResponse"/>
</operation>
<operation name="viewReservation">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/viewReservationRequest" message="tns:viewReservation"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/viewReservationResponse" message="tns:viewReservationResponse"/>
</operation>
<operation name="findGuestByEmail">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/findGuestByEmailRequest" message="tns:findGuestByEmail"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/findGuestByEmailResponse" message="tns:findGuestByEmailResponse"/>
</operation>
<operation name="calculateTotalAmountForStay">
<input wsam:Action="http://ws.session.ejb/PartnerWebService/calculateTotalAmountForStayRequest" message="tns:calculateTotalAmountForStay"/>
<output wsam:Action="http://ws.session.ejb/PartnerWebService/calculateTotalAmountForStayResponse" message="tns:calculateTotalAmountForStayResponse"/>
</operation>
</portType>
<binding name="PartnerWebServicePortBinding" type="tns:PartnerWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="reserveRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="partnerLogIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewAllReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchAvailableRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findGuestByEmail">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calculateTotalAmountForStay">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartnerWebService">
<port name="PartnerWebServicePort" binding="tns:PartnerWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerWebService/PartnerWebService"/>
</port>
</service>
</definitions>